body {
    color: white;
    background-image: url("https://mcdn.wallpapersafari.com/medium/97/73/lrF7O8.png");
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
    background-attachment: fixed;
    }
a:link
{
    color:white;
    text-decoration: none;
    display:inline-block;
    padding :-10px 0px;
}
a:visited
{
    color:grey;
}
a:hover{
    color:blue;
}
a:active{
    color:pink;
}
ol.a{
    text-decoration: ;
}
h1{
    background-color: grey;
    color: black;
    padding: 10px;
    margin-top: 0px;
}
.k{
    border-style: groove;
    margin: 50px 50px 0px;
    padding:20px 20px 20px 20px;
    font-style: oblique;
    font-size: 1.5em;
}
ol{
    list-style-type: none;
    margin:0;
}
li a{
    color:white;
    padding: 5px;

}

.icon_style
{
    size: 20px;
display: inline;
text-align: left;
box-sizing: content-box;
}
.nav
{
    display:inline-block;
    font-size: 20px;
    padding:20px;

}
.v{
    
    color: black;
    display:inline-block;
}
img{
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
.dropdown
{
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(153, 12, 12, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .display:hover .dropdown-content {
      display:block;
  }
  
 